/* Global styles & variables for color scheme */

:root {
    --color-one: #EEE5E9;
    --color-two: #87D68D;
    --color-three: #9B7E46;
    --color-five: #0B6E4F;
    --color-six: #161032;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-five);
}

/* NavBar styling */

header, nav {
    background-color: var(--color-three);
    color: var(--color-one);
}

.navbar {
    padding: 20px 40px;
    font-size: 1.25rem;
}

.navbar-brand {
    color: var(--color-one);
    font-size: 1.5rem;
}

/* About section styling */
#about {
    background-color: var(--color-one);
    padding: 40px;
    background-image: url("../img/sunset.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.aboutinfo {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-one);
    padding: 50px;
    text-align: center;
}

.AboutText {
    font-size: 1.25rem;
}

#close-button {
    border-radius: 10px;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    background-color: var(--color-one);
}

#favorites-carousel {
    display: block;
}

/* Carousel Styling */
#favorites-carousel {
    background-image:url("../img/pawprints.jpg");
}

.carousel-inner {
    padding: 3em 1em;
}
.card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

/* Example styling for the next and previous carousel buttons */
.carousel-control-prev, .carousel-control-next {
    background-color: var(--color-one);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/* Example styling for the star buttons */
#star-button {
    height: 30px;
    width: 30px;
    border: none;
    background: none;
    cursor: pointer;
}
.sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

/* Search Bar */

#searchbar {
    background-color: var(--color-one);
    padding: 40px;
}

/* Responsiveness for viewing the carousel on different screen sizes */
@media (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        margin-right: 0;
        flex: 0 0 calc(100%/5);
        display: block;
    }
}

/* Footer */

.footer {
    background-color: var(--color-five);
}

.footer-text {
    font-size: 1.5rem;
}

.socials {
    padding-bottom: 25px;
    margin: 0;
}
.socials img {
    height: 2rem;
}

/* Display footer list items (social media icons) horizontally */
.socials li {
    display: inline-block;
}